body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
}

.avatar {
  border-radius: 50%;
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  margin: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.pagination li:hover {
  background-color: #0056b3;
}

.filter-container {
  margin-bottom: 20px;
  text-align: center;
}

.team-container {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-container h2 {
  color: #007bff;
  margin-bottom: 10px;
}

.team-container ul {
  list-style: none;
  padding: 0;
}

.team-container li {
  margin-bottom: 5px;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.team-container li:hover {
  color: #007bff;
}
